.menu {
    position: fixed;
    margin: 30px;
    padding: 0;
    font-size: 22px;
}

.menu-item {
    position: relative;
    cursor: pointer;
}

.menu-nav {
    position: absolute;
    display: none;
    top: 0;
    left: 700%;
    padding: 0;
}
.menu-item.active>.menu-nav {
    display: block;
}

li {
    list-style: none;
}

#tab {
    top: -74px;
}

#laptop {
    top: -100px;
}

.next {
    margin-top: -74px;
}

.last {
    margin-top: -100px;
}

.item {
    width: 600px;
}

.top-item,
.item-name {
    font-weight: 700;
    margin-top: 0;
}

.buy-btn {
    border: 1px solid black;
    width: 85px;
    height: 30px;
    border-radius: 5px;
    background: bisque;
    margin-top: 30px;
}

form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    position: fixed;
    font-size: 16px;
    left: 1100px;
    top: 320px;
    display: none;
    background: lightgoldenrodyellow;
}

.open {
    display: block;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select,
textarea {
    width: 100%;
    height: 22px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 4px;
}

textarea {
    height: 54px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

input[type="radio"] {
    height: 10px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.radio-pay {
    margin-bottom: 8px;
}

.order {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 520px;
    height: 380px;
    position: fixed;
    font-size: 16px;
    left: 1085px;
    top: 320px;
    display: none;
    z-index: 9999;
    background: azure;
}

.order.open {
    display: block;
}

.new-forms,
.new-orders {
    position: fixed;
    left: 1619px;
    top: 323px;
    background-image: url('images/close-icon.png');
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    border: none;
}

.new-orders {
    left: 1621px;
    top: 325px;
}

.btn-check {
    /* background-image: url('images/box-light.png');
    background-size: cover;
    background-position: center;
    display: inline-block; */
    width: 50px;
    height: 25px;
    background: green;
    display: inline-block;
    float: right;
    margin-right: 50px;
}

.shop-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop {
    width: 1024px;
    height: 600px;
    border: 1px solid #424242;
    position: fixed;
    left: 30%;
    top: 25%;
    border-radius: 10px;
    background: #424242;
    content: '';
    display: flex;
    justify-content: center;
    z-index: -1;
}

/* .shop-box {
    width: 600px;
    margin: 0, auto;
} */

/* .create-task {
    padding: 20px;
    width: calc(100% - 80px);
    border-radius: 5px;
    border: none;
    margin: 40px;
    
} */

.tasks li {
    padding: 20px;
    border: 1px solid;
    background-color: white;
    border-radius: 5px;
    list-style: none;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    background: #8350a6;
    width: 800px;
}

.tasks li span {
    background-image: url(images/close-icon.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    width: 20px;
    
}

.tasks .complite {
    background: rebeccapurple;
    color: white;
}