.country {
    margin: 0 20px 20px;
    background: whitesmoke;
    height: 340px;
    border-radius: 10px;
}

.flag-image {
    width: 415px;
    height: 215px;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid lightslategrey;
}

.info-card {
    padding-left: 10px;
}

.card-title {
    margin: 10px 0;
}