.country {
    margin: 0 20px 20px;
    background: lightgoldenrodyellow;
    height: 340px;
    border-radius: 10px;
}

.flag-image {
    width: 415px;
    height: 215px;
    border-radius: 10px 10px 0 0;
}

.info-card {
    padding-left: 10px;
}