#next,
#previous {
    width: 55px;
    height: 80px;
    position: absolute;
    top: 170px;
}

#next {
    left: 795px;
}

.slider {
    list-style: none;
    display: flex;
    width: 800px;
    height: 400px;
    border: 1px solid black;
}

.slide-item {
    /* display: none; */
}

.slide-item.active {
    display: block;
}

img {
    width: 800px;
    height: 400px;
}